<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="simple-logo">
               <div>FP</div>
            </div>
            <!-- <div class="">
                navigation
            </div> -->
        </header>

        <main>
            <section>
                <div class="main-section__header">
                    <h2>Text Sentiment Analysis on blog posts</h2>  
                </div>
                <form class="" id="form">
                    <input id="name" type="text" name="input" value="" placeholder="Place URL for the blog">
                    <input type="submit" name="" value="Analysis!">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Made with coffee and code</p>
        </footer>
    </body>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</html>
