footer {
    background-color: #5D4E60;
    height: 100px;
    position: relative;
    
    p{
        width: 250px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 2%;
    }
}