header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #5D4E60;
}

.simple-logo {
    width: 100px;
    height: 100px;
    background-color: #7BA1B5;
    border-radius: 50%;
    position: relative;

    div {
        font-size: 35px;
        position: absolute;
        top: 32%;
        left: 32%;
    }
}
